# include the application.conf at the top
include required(classpath("application"))

backend {
	default = "Docker"
	providers {
		Docker {
			actor-factory = "cromwell.backend.impl.sfs.config.ConfigBackendLifecycleActorFactory"
			config {

				concurrent-job-limit = 10
				run-in-background = true

				runtime-attributes = """
				String? docker
				Int? cpu
				Int? mem
				String docker_user = "$EUID"
				"""
				submit = "/bin/bash ${script}"


				submit-docker = """
				docker run \
				--rm -i \
				--cpus=${cpu} \
				--memory="${mem}g" \
				--entrypoint /bin/bash \
				-v ${cwd}:${docker_cwd} \
				-v /mnt/data0/:/mnt/data0/ \
				${docker} < ${script}
				""" 
			}
		}
	}
}   

call-caching {
  enabled = true
}

webservice {
  port = 8000
  interface = 0.0.0.0
}

database {
	profile = "slick.jdbc.MySQLProfile$"
	db {
		url = "jdbc:mysql://0.0.0.0:52000/PipelineDatabase?allowPublicKeyRetrieval=true&rewriteBatchedStatements=true&useSSL=false"
		user = "pipeline"
		password = "Run@pipelines9061"
		driver = "com.mysql.cj.jdbc.Driver"
		connectionTimeout = 10000
	}
}
